.person{
    display: flex;
}
.shifts{

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 13%;
}

.name{
    width: 25%;
    border: 1px solid #E9EBF5;
    text-align: center;
    color: #434676;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  
.name p{
    padding-top: 10px;
    margin: 0 auto;
  }
