.select{
    text-align: center;
    background-color: #3C63E8;
    border: none;
    width: 100%;
    height: 100%;
    color: #E9EBF5;
}
.select option{
    color: #E9EBF5;
    border-radius: 5px;
}
.shift{
    width: 13%;
    border:1px solid #E9EBF5;
    text-align: center;
    background-color: #3C63E8;
    border-radius: 5px;
}
.shift p{
    color: #E9EBF5;
    padding-top: 10px;
}