.days{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    background-color: #F0F3FF;
    color: #434676;
  }

  .name{
    width: 25%;
    border: 1px solid #E9EBF5;
    text-align: center;
    color: #434676;
  }
  
.name p{
    padding-top: 10px;
  
  }
 