.days{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    background-color: #F0F3FF;
    color: #434676;
    font-size: 15px;

  }

  .name{
    width: 25%;
    border: 1px solid #E9EBF5;
    text-align: center;
    color: #434676;
  }
.prevBtn{
  width: 30%;
  border: 1px solid #E9EBF5;
  text-align: center;
  background-color: #06817c;
  border-radius: 5px;
  color: #E9EBF5;
  cursor: pointer;
  margin: 5px;
  
}
.name p{
    padding-top: 10px;
  
  }
 