.addPerson{
    text-align: center;
  }
  .addPerson button{
      border:1px solid #E9EBF5;
      text-align: center;
      background-color: #06817c;
      border-radius: 5px;
      color: #E9EBF5;
      padding: 5px;
  }