.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E5E5E5;
}

.container{
  width: 90%;
  min-height: 670px;
  margin: 20px;
  border-radius: 5px;
  background-color: #373c4f;
  display: flex;
}
.schedule{
  width: 60%;
  display: flex;
  color: #878895;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px 30px;
  padding: 20px;
  position: relative;
  flex-direction: column;
}
.schedule::before,
.schedule::after{
  content: '';
  position: absolute;
  background-color: #d3d5d6d7;
  border-radius: 0 5px 5px 0;
  transform: translateY(-50%);
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;

}
.schedule::before{
  background-color: rgb(153, 153, 153);
  height: 94%;
  left: calc(100% + 12px);
}
.names{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  width: 100%;
  
}
.days{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}
.day{
  width: 40px;
  border:1px solid black;
  text-align: center;

}
.name{
  width: 40px;
  margin-right: 20px;
}
