@font-face {
  font-family: ADYS-Regular ;
  src: url('../public/ADYS-REGULAR-V5-4.TTF');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family:  ADYS-Regular, monospace;
    margin: 0;
    padding: 0;
    color: #434676;
    box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  *{
    font-size: 12px;
  }
}
@media screen and (max-width: 700px) {
  *{
    font-size: 6px;
  }
}